@{
    ViewBag.Title = "Contact";
}
<h3>@ViewBag.Message</h3>

<h6>Georgi Manov</h6>
<p>FN: F84614</p>
<address>
    <strong>E-mail:</strong>   <a href="mailto:georgimanov@gmail.com">georgimanov@gmail.com</a><br />
</address>